.navigation2{
  overflow-x: hidden;
  /* height: 100%; */
  border: 1px solid #D1D1D1;
  border-radius: 1rem;
  background: #ffffff;
  padding: 0.45rem 1rem;
  width: 100%;
}
.navigation2 .navMenuIcon:hover{
  cursor: pointer;
}
.sidebar2 {
 position: absolute;
  width: 250px;
  /* height: 100%; */
  top: 4.2rem;
  transition: all .5s ease;
  z-index: 999;
  background-color: rgba(39, 30, 57, 0.8);
  border-radius: 2rem;
  padding: 0;
  margin: 0;
}
.sidebar2Hidden{
  right: -20rem;
  display: none;
  transition: all .5s ease;
}
.sidebar2visible{
  right: 1rem;
  transition: all .5s ease;
}
.sidebar2 ul{
  margin: 0;
  padding: 2rem 3rem 2rem ;
}
.sidebar2 ul li{
  text-align: right;
  padding: 1rem 0;
 }
.sidebar2 ul a{
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
  transition: .4s;
}
ul li:hover a{
 padding-right: 3rem;
 color: azure;
  
}



.iconliks2{
  transition: .2s ease;
}
/* .iconliks2:hover{
  transform: scale(1.5);
  transition: .2s ease;
}
.sidebar2 header {
  font-size: 22px;
  color: #0669b2;
  line-height: 70px;
  user-select: none;
  padding-left: 1.9rem;
}

 */
@media (max-width:568px){
  .sidebar2visible{
    right: 4rem;
    transition: all .5s ease;
  }
}

