.navigation2{
  overflow-x: hidden;
  /* height: 100%; */
  border: 1px solid #D1D1D1;
  border-radius: 1rem;
  background: #ffffff;
  padding: 0.45rem 1rem;
  width: 100%;
}
.sidebar2 {
 position: absolute;
  width: 250px;
  /* height: 100%; */
  top: 4.4rem;
  transition: all .5s ease;
  z-index: 999;
}
.sidebar2Hidden{
  right: -20rem;
  display: none;
  transition: all .5s ease;
}
.sidebar2visible{
  right: 7.8rem;
  transition: all .5s ease;
}
.sidebarcontentwrapper2{
  background-color: #fff;
  border-radius: 2rem;
} 
.iconliks2{
  transition: .2s ease;
}
.iconliks2:hover{
  transform: scale(1.5);
  transition: .2s ease;
}
.sidebar2 header {
  font-size: 22px;
  color: #0669b2;
  line-height: 70px;
  user-select: none;
  padding-left: 1.9rem;
}
.sidebar2 ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  color: #3d5672;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(160, 159, 159);
  transition: .4s;
}
.sidebar2 ul  li:last-of-type a{
  border-bottom: none;
}
.sidebar2 ul li:hover a{
  padding-left: 10px;
  font-size: 1.1rem;
}

@media (max-width:568px){
  .sidebar2visible{
    right: 4rem;
    transition: all .5s ease;
  }
}

