.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor:pointer;
  }

  .custom-file-input::-webkit-file-upload-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .custom-file-input::-moz-file-upload-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .custom-file-input::-ms-file-upload-button {
    background-color: #007bff;
    color: #fff;
  }
  