@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  font-family: "Oxygen", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden; /* hide horizontal overflow */

  width: 100vw; /* set width to 100% */
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.fw-700 {
  font-weight: 700;
}
.w-20 {
  width: 20%;
}
.btn-file {
  position: relative;
  overflow: hidden;
  width: fit-content;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

::-webkit-scrollbar {
  display: none;
}
