

.WhoweareTeamContent{
    padding: 2rem 2rem 2rem 3rem ;
    border-radius: 1rem;
    background-color: rgba(201, 218, 231, 0.286);
   
}
.WhoweareTeamContent1{
    width: 60%;
}
.WhoweareTeamContent2{
    width: 40%;
}

@media (max-width: 992px) {
    .WhoweareTeamContent{
        padding: 2rem  ;    
    }
    .WhoweareTeamContent1{
        width: 100%;
    }
    .WhoweareTeamContent2{
        width: 100%;
    }
  }
