

.productCarousel2{
    .carousel-control-prev,
    .carousel-control-next{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        
    }
    .carousel-control-prev{
        top: 50%;
        transform: translate(-2.5rem,-50%);
    }
    .carousel-control-next{
        top: 50%;
        transform: translate(2.5rem,-50%);
    }
}

@media (max-width:768px){
    .productCarousel2{
        .carousel-control-prev,
        .carousel-control-next{
            display: none;
            
        }
    }
}