.swiper {
  width: 100%;
  height:100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .carouselcard {
    display: flex;
    flex-direction: column;
    border-radius: 1.4rem;
    .productLogo {
      width: 2rem;
      height: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .producttext {
      font-size: 0.7rem;
      text-align: left;
    }
  }
}
.swiper-slide .carouselcard{
  width: 100%;
}
.swiper-button-prev, .swiper-button-next{
  color: rgb(233, 231, 231);
  
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pc-learnmore:hover{
  color: #0A7BBF !important;
  text-decoration: underline;
  cursor: pointer;
}
.pc-bs-apple,.pc-googleplay{
 color: #b2b2b2;
 cursor: pointer;
}
.pc-bs-apple:hover,.pc-googleplay:hover{
 color: rgb(33,37,41);
}




@media screen and (min-width: 1200px) {
  /* CSS styles for screens with a maximum width of 1200px */
  .swiper-slide{
    .carouselcard {
      height: 370px;
    }
  }
}
@media screen and (max-width: 1200px) {
  /* CSS styles for screens with a maximum width of 1200px */
  .swiper-slide{
    .carouselcard {
      height: 320px;
    }
  }
}

@media screen and (max-width: 992px) {
  /* CSS styles for screens with a maximum width of 600px */
  .swiper-slide{
    .carouselcard {
      height: 320px;
    }
  }
}
@media screen and (max-width: 768px) {
  /* CSS styles for screens with a maximum width of 600px */
  .swiper-slide{
    .carouselcard {
      height: 320px;
    }
  }
}
@media screen and (max-width: 576px) {
  /* CSS styles for screens with a maximum width of 600px */
  .swiper-slide{
    .carouselcard {
      height: 380px;
      background-color: violet;
    }
  }
}
