.exploreOpeningsbtn {
  background: #ebeaea;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: gray !important;
  }
}
.homesubmenu{
  margin-left: auto;
}

@media (max-width: 768px) {
  .homesubmenu{
    margin-right: auto;
    margin-left: 0;
  }
  .newsBox{
    width: 100%;
  }
}
