.SingleProductComponent{
    gap: 3rem;
    .SingleProductComponent-left{
        width: 30%;
        border-radius: 2rem;
    }
    .SingleProductComponent-right{
        width: 70%;
    }
}

@media (max-width: 992px) {
    .SingleProductComponent{
        gap: 2rem;
        .SingleProductComponent-left{
            width: 100%;
            border-radius: 2rem;
        }
        .SingleProductComponent-right{
            width: 100%;
        }
    
    }
  }
@media (max-width: 576px) {
    .contact-page-content{
        padding: 0 20px;
    }
  }